services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: main-server
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - qdrant
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      QDRANT_URL: http://qdrant:6333
    restart: unless-stopped
  
  redis:
    image: "redis:7-alpine"
    container_name: redis
    ports: 
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:v1.7.4
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile.worker
    container_name: bullmq-worker
    depends_on:
      - redis
      - qdrant
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      QDRANT_URL: http://qdrant:6333
    restart: unless-stopped

volumes:
  redis_data:
  qdrant_data:
